@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: mat.get-theme-color($theme, surface-container-lowest);
  color: mat.get-theme-color($theme, on-surface);
}
